.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-Form{
    display: inline;
}

.delete-comment{
    display: inline;
}